$main-color: #27ae60;
$secondary-color: #47e88b;

$header-font: "K2D", "futura", sans-serif;
$font: "Open Sans", sans-serif;

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-image: linear-gradient(#aef8eb, #ffffff);
  .container {
    background: white;
  }
  .wrapper {
    margin: 30px auto;
    box-shadow: 0.5px 3px 6px 3px #ccc;
    width: 700px;
    z-index: -1;
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $font;
}

p,
span,
a {
  font-family: $font;
}

a {
  text-decoration: none;
}

p {
  font-size: 1.2rem;
  margin: 0;
}

.container {
  width: 700px;
  margin: auto;
}

.main {
  padding: 10px;
  display: grid;
  grid-gap: 30px;
  justify-items: center;
  grid-template-columns: 200px auto;
  .left-pane {
    .name-container {
      box-sizing: border-box;
      margin: 3px;
      border: 2px solid $main-color;
      width: 200px;
      height: 138px;
      padding: 0 9px;
      border-radius: 2px;
      h1 {
        margin: 11px 9px;
        font-size: 2.8rem;
        line-height: 1.2;
        font-weight: 130;
      }
    }
    .social-icons {
      display: flex;
      justify-content: center;
      align-content: center;
      i {
        color: $secondary-color;
        font-size: 3rem;
        padding: 8px;
      }
    }
  }
  .introduction p {
    span {
      font-size: 3.4em;
      display: block;
      margin-bottom: 60px;
    }
    margin: 0 2px;
  }
}

.pattern {
  display: flex;
  justify-content: center;
  align-content: center;
  position: relative;
  margin: auto;
  &.bottom {
    margin-top: -10px;
    img {
      height: 600px;
    }
    .footer {
      z-index: 1;
      top: 70%;
      left: 50%;
      transform: translate(-50%, -50%);
      position: absolute;
      margin: auto;
      text-align: center;
      a {
        z-index: 1;
        padding: 10px 25px;
        border-radius: 5px;
        box-shadow: 0.5px 1px 1px 0.5px #999;
        margin: 10px;
        background-color: #fff;
        display: block;
        font-weight: 80;
        color: $main-color;
      }
      i {
        color: white;
        font-size: 4rem;
        cursor: pointer;
      }
      p {
        position: relative;
        top: 30px;
        font-size: 10px;
        color: white;
        i {
          font-size: 14px;
          margin: 6px 6px 0 0;
        }
      }
    }
  }
  img {
    width: 700px;
    height: 400px;
    width: 100%;
  }
  .project-header {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    margin: auto;
    text-align: center;
    h2 {
      font-weight: 80;

      color: white;
    }
    i {
      color: white;
      font-size: 4rem;
      cursor: pointer;
    }
  }
}

.project-container {
  position: relative;
  top: -15px;
  margin: 0 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(325px, 1fr));
  object-fit: cover;
  grid-gap: 30px;
  a img {
    border: 1px solid $main-color;
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 700px) {
  html {
    font-size: 16px;
  }
  body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-image: linear-gradient(#aef8eb, #ffffff);
    .container {
      background: white;
      width: 100%;
    }
    .wrapper {
      margin: 0 auto;
      box-shadow: 0 #ccc;
      width: 100%;
      z-index: -1;
    }
  }

  .main {
    padding: 10px;
    display: flex;
    flex-direction: column;
    .left-pane {
      .name-container {
        box-sizing: border-box;
        margin: 3px;
        border: 2px solid $main-color;
        padding: 0 9px;
        border-radius: 2px;
      }
      .social-icons {
        display: block;
        position: relative;
        left: 6px;
        i {
          color: $secondary-color;
          font-size: 3rem;
          padding: 8px;
        }
      }
    }
    .introduction p {
      span {
        font-size: 2rem;
        display: block;
        margin-bottom: 10px;
      }
      margin: 0 2px;
      line-break: loose;
      width: 85vw;
    }
  }

  .project-container {
    text-align: center;
  }

  .pattern {
    &.bottom {
      img {
        width: 100%;
      }
    }

    img {
      width: 100%;
    }
    .project-header {
      h2 {
        font-size: 1.4em;
      }
      i {
        font-size: 3.8em;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .pattern {
    &.bottom {
      img {
        width: 500px;
        height: 650px;
      }
    }
    img {
      width: 500px;
      height: 430px;
    }
    .project-header {
      h2 {
        font-size: 1.4em;
      }
      i {
        font-size: 3.8em;
      }
    }
  }
}
